RecipeBook/resources/xmlData/theme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="themes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="theme">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="background" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="uiText" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="header" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="selection" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="textHover" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="mainText" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
			<xs:attribute name="active" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>